In [1]:
import time
start_time=time.time()

In [2]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import os
import sys
import pickle

from CorrPol import CPV,CPH

In [3]:
reg=['604','595']
inst=['I','T']
lin=['H','N','O','S']
sam=['A','B','C']

In [4]:
r=1
i=0
l=3
s=2

datat=reg[r]+inst[i]+lin[l]+sam[s]
datat

'595ISC'

In [5]:
data=pd.read_csv('Res\\'+datat+'.csv')
data=data.rename(columns={'Unnamed: 0':'No'})
data=data.drop('No',axis=1)
#os.remove(datap)
data.describe()

,X,Y,Center,Peak,Width,RV,Sig
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,79.000000
mean,100.864009,7.931034,6726.302776,157.560793,0.866526,-183.306075,8.670563
std,7.454437,6.144243,0.158234,203.222759,0.237350,7.047580,5.202018
min,88.506000,0.000000,6725.811000,1.660000,-0.877000,-205.209313,0.939071
25%,95.211000,2.000000,6726.175750,56.395000,0.780000,-188.963688,5.198260
50%,99.904500,8.000000,6726.341000,105.450000,0.843500,-181.603608,7.892785
75%,106.274250,14.000000,6726.416000,194.050000,0.940250,-178.263178,10.970186
max,116.667000,22.000000,6726.630000,1937.000000,1.587000,-168.731817,25.957314

ISIS

In [6]:
dataX=[data.X,data.Y,data.RV,data.Peak]
headers=["X","Y","RV","I"]
dt=pd.concat(dataX, axis=1, keys=headers)
dt.describe()

                X           Y          RV            I
count  116.000000  116.000000  116.000000   116.000000
mean   100.864009    7.931034 -183.306075   157.560793
std      7.454437    6.144243    7.047580   203.222759
min     88.506000    0.000000 -205.209313     1.660000
25%     95.211000    2.000000 -188.963688    56.395000
50%     99.904500    8.000000 -181.603608   105.450000
75%    106.274250   14.000000 -178.263178   194.050000
max    116.667000   22.000000 -168.731817  1937.000000

TAURUS

In [7]:
#dt=data

In [8]:
argo1=CPH(dt,7,reg[r],inst[i],lin[l],sam[s])

-183.3

0.287 x - 212.3
           2
7.967e-05 x + 0.2708 x - 211.4
          3         2
0.003495 x - 1.067 x + 108.5 x - 3857
           4          3         2
0.0003408 x - 0.1357 x + 20.18 x - 1329 x + 3.254e+04
           5            4          3         2
8.141e-06 x - 0.003818 x + 0.7125 x - 66.11 x + 3051 x - 5.622e+04
            6           5          4        3        2
-4.354e-06 x + 0.00268 x - 0.6858 x + 93.4 x - 7139 x + 2.904e+05 x - 4.912e+06

In [9]:
argo2=CPV(dt,7,reg[r],inst[i],lin[l],sam[s])

-183.3

-0.837 x - 176.7
          2
-0.02084 x - 0.4604 x - 177.6
          3          2
0.002655 x - 0.1015 x + 0.1585 x - 178.3
           4            3           2
0.0001641 x - 0.004208 x - 0.01348 x - 0.1925 x - 178.1
            5            4          3          2
-2.969e-05 x + 0.001714 x - 0.0322 x + 0.1901 x - 0.6932 x - 177.9
           6            5           4          3         2
2.484e-05 x - 0.001587 x + 0.03794 x - 0.4149 x + 1.968 x - 3.507 x - 177.6

In [10]:
#pickle_in = open(datat+"H.pkl","rb")
#example_dict = pickle.load(pickle_in)

In [11]:
print("--- %s seconds ---" % (time.time()-start_time))

--- 2.802142858505249 seconds ---